#body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #fffbcf;
}
.word {
    font-family: 'Varela Round', sans-serif;
    color: #123f2d
}
#head {
    position: fixed;
    top: 0%;
    z-index: 10;
    width: 100%;
    height: 10%;
}
#establish {
    position: absolute;
    top: 0%;
    display: inline-block;
    width: 100%;
}
#pointer {
    position: absolute;
    left: 9%;
    top: 35px;
    width: 7%;
}
#establish_word {
    position: absolute;
    top: 30px;
    left: 20%;
    width: 50%;
}
#post {
    position: absolute;
    top: 6%;
    left: 0%;
    width: 100%;
    height: 1400px;
}
#post_region1 {
    position: absolute;
    top: 11%;
    left: 9%;
    box-shadow:0px 0px 20px 3px #79797886;
    height: 60%;
    width: 80%;
    z-index: 2;
    opacity: 1;
}
#post_region2 {
    position: absolute;
    top: 11%;
    left: 9%;
    box-shadow: 0px 0px 20px 3px #79797886;
    height: 60%;
    width: 80%;
    z-index: 1;
    opacity: 0;
}
#intro {
    position: absolute;
    top: 50px;
    left: 10%;
    border-radius: 15px;
    width: 80%;
    height: 20%;
}
#tag_text {
    position: absolute;
    top: 30%;
    left: 10%;
}
.tag {
    position: absolute;
    left: 10%;
    border-radius: 20px;
    width: 80%;
    height: 7%;
}
#campus_intro {
    position: absolute;
    top: 10%;
    left: 10%;
}
#tag4 {
  top: 17%;
}
#campus_intro2 {
    position: absolute;
    top: 43%;
    left: 10%;
}
#tag5 {
    top: 50%;
}
#name_intro {
    position: absolute;
    top: 43%;
    left: 10%;
}
#picture_intro {
    position: absolute;
    top: 73%;
    left: 10%;
}
#tag6 {
    top: 80%;
}
#tag1 {
    top: 50%;
}
#bando_intro {
    position: absolute;
    top: 58%;
    left: 10%;
}
#tag2 {
    top: 65%;
}
#meat_intro {
    position: absolute;
    top: 73%;
    left: 10%;
}
#tag3 {
    top: 80%;
}
#circle1, #circle4{
    left: 42%;
}
#circle2, #circle5 {
    left: 47%;
}
#circle3, #circle6 {
    left: 52%;
}

.circle {
    position: absolute;
    background-color: #123f2d;
    border-radius: 5px;
    width: 10px;
    height:10px;
    top:90%;
}
#line1 {
    color: #123f2d;
    position: fixed;
    width: 100%;
    height: 1px;
    top: 72%;
    z-index: 10;
}
#line2 {
    color: #123f2d;
    position: fixed;
    z-index: 11;
    width: 100%;
    height: 1px;
    top: 87%;
}
#icon {
    position: fixed;
    background-color: #fffbcf;
    z-index: 10;
    width: 100%;
    left: 0%;
    top: 72.8%;
}
.pic {
    width: 28%;
    margin: 0px 0px 0px 40px;
}
#bottom_word {
    position: absolute;
    left: 20%;
    height: 40%;
}
#bottom {
    position: fixed;
    background-color: #fffbcf;
    z-index: 10;
    width: 100%;
    height: 20%;
    left: 0%;
    top: 88%;
}
#post_button {
    position: absolute;
    top: 0%;
    right: 10%;
    width: 35%;
}